body {
    background-color: purple;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
}
header h1 {
    text-justify: center;
    color: white;
    width: max-content;
    align-self: center;
}

main {
    padding: 30px 10px;
    border: 2px solid black;
    border-radius: 5%;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#button-media {
    display: block;
    width: max-content;
}
